.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  .itemSelected {
    background: slateblue;
    border-radius: 10px;
  }

  &_item-wrapper {
    background: grey;
    color: #fff;
    font-size: 1.1em;
    text-transform: capitalize;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      // background: coral;
      color: #000;
      font-weight: bold;
      transform: scale(1.02);
      animation: backgroundColorPalette 7s linear infinite alternate;
    }
  }
}
